version: '3.8'
services:
  mongo:
    image: mongo:6.0
    ports:
      - '27017:27017'
    volumes:
      - mongo-data:/data/db

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ecommerce
    ports:
      - '5432:5432'
    volumes:
      - pg-data:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - '6379:6379'

  localstack:
    image: localstack/localstack
    environment:
      - SERVICES=sns,sqs
      - DEFAULT_REGION=us-east-1
    ports:
      - '4566:4566'
    volumes:
      - localstack-data:/var/lib/localstack

volumes:
  mongo-data:
  pg-data:
  localstack-data:
